<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")    
</head>
<body class="is-preload">
    <div id="page-wrapper">

        @await Html.PartialAsync("HeaderPartial")
        @await Html.PartialAsync("BannerPartial")

        @RenderBody()
        @await Html.PartialAsync("HighlightsPartial")

             
        <!-- CTA -->
        <section id="cta" class="wrapper style3">
            <div class="container">
                <header>
                    <h2>Наявні вакцини в Україні</h2>
                    <a href="https://moz.gov.ua/article/news/sogodni-v-ukraini-rozpochinaetsja-vakcinacija-proti-covid-19" class="button">Переглянути</a>
                </header>
            </div>
        </section>

        @await Html.PartialAsync("FooterPartial")
    </div>

    @await Html.PartialAsync("ScriptsPartial")
    
</body>
</html>