<!-- Banner -->
<section id="banner">
    <header>
        <h2>Бажаєте записатись в чергу на вакцинацію від <em><a href="https://id.diia.gov.ua/">COVID-19?</a></em></h2>
        <a href="https://id.diia.gov.ua/" class="button">Перейти</a>
    </header>
</section>