<!-- Footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <section class="col-3 col-6-narrower col-12-mobilep">
                <h3>Корисні посилання</h3>
                <ul class="links">
                    <li><a href="#">Аналіз крові</a></li>
                    <li><a href="#">КТ</a></li>
                    <li><a href="#">МРТ</a></li>
                    <li><a href="#">Здати кров</a></li>
                    <li><a href="#">Тест ПЛР</a></li>
                    <li><a href="#">Тест ІФА</a></li>
                    <li><a href="#">Консультація</a></li>
                </ul>
            </section>
            <section class="col-3 col-6-narrower col-12-mobilep">
                <h3>Додаткові посилання</h3>
                <ul class="links">
                    <li><a href="#">Профілактика захворювань</a></li>
                    <li><a href="#">День донора</a></li>
                    <li><a href="#">Санітарний день</a></li>
                    <li><a href="#">Корсна інформація для пацієнтів</a></li>
                    <li><a href="#">Довідкова інформація</a></li>
                    <li><a href="#">Благодійність</a></li>
                </ul>
            </section>
            <section class="col-6 col-12-narrower">
                <h3>Залишити відгук чи запитання</h3>
                <form>
                    <div class="row gtr-50">
                        <div class="col-6 col-12-mobilep">
                            <input type="text" name="name" id="name" placeholder="Ім'я" />
                        </div>
                        <div class="col-6 col-12-mobilep">
                            <input type="email" name="email" id="email" placeholder="Пошта" />
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="message" placeholder="Повідомлення" rows="5"></textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" class="button alt" value="Відправити повідомлення" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>

    <!-- Icons -->
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        <li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
    </ul>

    <!-- Copyright -->
    <div class="copyright">
        <ul class="menu">
            <li>&copy; @Config.ClinicName All rights reserved</li>
            <li>Design: <a href="#">PV82</a></li>
        </ul>
    </div>

</div>