<!-- Highlights -->
<section class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <i class="icon solid major fa-paper-plane"></i>
                    <h3>Лояльні ціни!</h3>
                    <p>В нашому закладі діють системи знижок. В нашому закладі діють системи знижок. В нашому закладі діють системи знижок.</p>
                </div>
            </section>
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <i class="icon solid major fa-pencil-alt"></i>
                    <h3>Зручний графік рботи!</h3>
                    <p>Ви можете обрати зручний для вас час, щоб відвідати наш заклад.Ви можете обрати зручний для вас час, щоб відвідати наш заклад.</p>
                </div>
            </section>
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <i class="icon solid major fa-wrench"></i>
                    <h3>Увага до кожного!</h3>
                    <p>Ми шукаємо персональний підхід для кожного клієнта. Ми шукаємо персональний підхід для кожного клієнта.</p>
                </div>
            </section>
        </div>
    </div>
</section>