@model IQueryable<Prof>


@if (Model.Any())
{
    foreach (Prof entity in Model)
    {
        <section class="wrapper style1">
            <div class="container">
                <div class="row">
                    <section class="col-6 col-12-narrower">
                        <div class="box post">
                            <div class="inner">
                                    <h3>@entity.ProfID</h3>
                                    <p>@entity.ProfName</p>
                            </div>                            
                        </div>
                    </section>
                </div>

            </div>
        </section>
    }
}