@model IQueryable<ServiceItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Keywords = textField.MetaKeywords;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}

@if (Model.Any())
{
    foreach (ServiceItem entity in Model)
    {
    <section class="wrapper style1">
        <div class="container">
            <div class="row">
                <section class="col-6 col-12-narrower">
                    <div class="box post">
                        <a class="image left" asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                            <img src="/images/@entity.TitleImagePath" alt="" class="left" />
                        </a>
                        <div class="inner">
                            <h3>@entity.Title</h3>
                            <p>@entity.Subtitle</p>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </section>
    }
}